// 1. Utilities
@use './partials/utilities/variables';

// 2. Base
@use './partials/base/reset';
@use './partials/base/tipografias';

// 3. Components
@use './partials/components/header';
@use './partials/components/pages';
@use './partials/components/forms';
@use './partials/components/footer';
@use './partials/components/mediasqueries';