@use '../utilities/variables';

footer {
    background-color: variables.$color-crema;

    .footer-div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: start;
      width: 100%;
      padding: 20px;

    //> div:nth-child(1) {
        //flex: 1 1 auto; 
        //min-width: 250px; 
    //}

    > div:nth-child(3) {
        text-align: right;
        margin-left: auto;
        margin-right: 0; 
    }

    .p-footer {
        text-align: left;
        color: #080807;
        font-size: 20px;
        display: flex;
        flex-direction: column;

        a {
            display: flex;
            font-size: 20px;
            margin-bottom: 5px;
            margin-right: 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: #080807; 
        }
    }
 } 
}

/* Mapa */
.mapa-container {
  display: flex;
  margin-left: 0; 
  margin-right: auto;
  padding: 0; 
  margin-top: 5px; 
  box-sizing: border-box;
  
  .mapa-container iframe {
  border-radius: 5px; 
  border: none;
}


}


