.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; 
    grid-template-rows: auto auto auto auto; 
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: 50px auto; 
    border: 1px solid #ccc;
    border-radius: 8px;

    .row {
        grid-column: 1 / 3; 
        display: contents; 
    }

    .mb-3 {
        &:nth-of-type(3) { 
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        &:nth-of-type(4) { 
            grid-column: 1 / 3; 
            grid-row: 3 / 4;  
        }
    }

    .form-submit {
        grid-column: 1 / 4; 
        grid-row: 4 / 5;   
        text-align: center;
    }
}

.btn-primary {
    padding: 10px 30px;
}