@use '../utilities/variables';
@use 'sass:color';
@use '../utilities/mixins';

.div-contacto {
    text-align: center;
    margin-top: 20px;
}

.contact-form {
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: 50px auto; 
    border: 1px solid #ccc;
    border-radius: 5px;

    .form-group.name {
        grid-column: 1 / 3;
    }   

    .form-group.last-name {
        grid-column: 3 / 5;
    }
    
    .form-group.email {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .form-group.date {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }
    .form-group.message {
        grid-column: 1 / 5; 
        grid-row: 3 / 5;
    }

    .submit-button {
        grid-column: 1 / 5; 
        grid-row: 5 / 6; 
        text-align: center; 
        justify-self: center;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        @include mixins.event-button();
    }

    .form-group {
        width: 100%;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

 }