// Notebooks y Laptops
@media (min-width: 992px) {
    .navbar-logo {
        width: 120px; 
        height: auto;
    }

    main {
        h1 {
            font-size: 50px;
            padding: 15px;
        }
        section p {
            font-size: 24px; 
            text-align: center;
            padding: 0 15px;
        }
    }

    .img-carrusel {
        height: 470px !important; 
        width: 100%;
    }

    .li-nav {
        font-size: 18px;
    }

    .form-control {
        width: 120px !important;
    }

    // Historia
    .section-historia {
        max-width: 90%;
        
    }
    .p-historia {
        font-size: 20px;
        text-align: center;
    }

    // Eventos
    .li-main {
        img {
            max-width: 300px;
            height: auto;
        }
        h2 {
            font-size: 30px;
        }
    }

    // Contacto
    .grid-form {
        grid-template-columns: 1fr 1fr;
        max-width: 700px;

        .mb-3:nth-of-type(3),
        .mb-3:nth-of-type(4) {
            grid-column: 1 / 3;
        }
    }
}

// Tablets y Mobile (< 991px)
@media (max-width: 991px) {
    .ul-main {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-right: 0;
    }

    .navbar-logo {
        width: 90px; 
        height: auto;
    }

    .d-flex.mx-auto {
        display: none !important;
    }

    .ul-nav {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
    }

    .li-nav {
        font-size: 20px;
        width: 100%; 
        text-align: left;
    }

    .a-nav.nav-link {
        text-align: left; 
        padding-left: 10px;
    }

    main h1 {
        font-size: 40px;
    }

    section p {
            font-size: 20px; 
            text-align: center;
            padding: 0 15px;
        }

    .img-carrusel {
        height: 150px; 
        width: 100%; 
        padding: 10px 10px;
    }

    .footer-div {
        flex-direction: column;
        text-align: center;
        
        > div:nth-child(2) {
            margin: 10px 0; 
        }

        .p-footer {
            text-align: center;
            margin-bottom: 5px;
            font-size: 16px;

            a {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }

    // Historia
    .section-historia {
        flex-direction: column;
        align-items: center;

    img {
         width: 70%;
         height: 70%;
        }
    }
    .p-historia {
        font-size: 18px;
        text-align: justify;
        padding: 0 10px;
    }

    // Eventos
    .li-main {
        img {
            max-width: 250px;
            height: auto;
        }
        h2 {
            font-size: 24px;
        }
    }

    // Contacto
    .grid-form {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 30px auto;

        .col, .mb-3:nth-of-type(3), .mb-3:nth-of-type(4), .form-submit {
            grid-column: 1 / 2;
        }
    }
}

// Desktop Grande
@media (max-width: 2560px) { 
    .ul-main {
        flex-direction: row;
    }
}