@use '../utilities/variables';

main {
    background-color: variables.$color-azul-claro;
    border-bottom: 30px solid variables.$color-azul-claro;

    h1 {
        text-align: center;
        color: variables.$color-azul-oscuro;
        font-size: 95px;
        margin-top: 0px;
    }

    section {
        text-align: center;
        
        img {
            gap: 20px;
            align-items: center;
            margin: 0 auto;
            padding: 20px;
        }

        .img-carrusel{
            width: 100%;
            height: auto;

        }
    }
}


p {
    text-align: center;
    margin: 30px;
    padding: 20px;
    color: variables.$color-azul-oscuro;
    font-size: 34px;
}

.btn-presup{
    color: variables.$color-azul-oscuro;
    padding: 10px;
    border-radius: 5px; 
}


// Listas dentro del Main (Eventos/Espacios)

.section-eventos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    ;

    .card-eventos {
        background-color: variables.$color-azul-oscuro;
        border-radius: 10px;
        padding: 20px;
        width: 18rem;
        display: flex; 
        flex-direction: column; 
    }

    .card-eventos div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
    }

    h5 {
        font-size: 30px;
        margin: 20px 0;
        color: variables.$color-dorado;
    }

    p {
        font-size: 10px;
        margin: 0 10px;
        color: variables.$color-crema;
        flex-grow: 1;
    }

    .btn-eventos {
        margin-top: 15px;
        padding: 10px;
        border-radius: 5px;
        color: variables.$color-azul-medio;
        text-decoration: none;
        background-color: variables.$color-dorado; // AÑADIR COLOR DE FONDO
        border: 1px solid variables.$color-dorado; // DEFINIR EL BORDE DEL COLOR
        display: inline-block;
        border: 1px solid transparent;
        cursor: pointer;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
        .btn-eventos:hover {
        background-color: darken(variables.$color-dorado, 10%); // Usando una función de SASS
        border-color: darken(variables.$color-dorado, 10%);
        color: variables.$color-azul-oscuro; // Cambiamos el color de texto al hacer hover
    }
}
.ul-main {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-right: 50px;
}

.li-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    gap: 20px;

    img {
        display: flex;
        max-width: 700px;
        height: auto;
    }

    h2 {
        margin: 30px 0; 
        text-align: center;
        font-size: 60px;
        padding: 5px 0;
    }

     h3 {
        margin: 30px 0; 
        text-align: center;
        font-size: 60px;
        padding: 5px 0;
    }
}

// Página Historia
.section-historia {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto; 
    padding: 20px;

    .div-historia {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

    a .img-hist {
    width: 400px;
    height: 600px;
    border-radius: 10px;
    display: block;
}
    h2 { 
        margin: 30px 0;
    }

    .p-historia {
    text-align: left;
    color: variables.$color-azul-oscuro;
    font-size: 20px;
    margin-bottom: 20px; 
}
}

