// Importamos la fuente de Google
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');

body {
    font-family: $fuente-principal;
}