@use 'variables'; 
@use 'sass:color'; 


@mixin event-button(
  $base-color, 
  $text-color, 
  $hover-text-color) {
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: $text-color;
  background-color: $base-color; 
  border: 1px solid $base-color;
  

  &:hover { 
    background-color: color.adjust($base-color, $lightness: -10%);
    border-color: color.adjust($base-color, $lightness: -10%);
    color: $hover-text-color; 
    transform: translate(2px, 2px);
  }
}