// Paleta de Colores
$color-crema: #F8F4E3;
$color-azul-claro: #4D6473;
$color-azul-medio: #2C4657;
$color-azul-oscuro: #172531;
$color-negro: #000101;
$color-dorado: #f3bd68;
$color-gris-sombra: rgba(108, 117, 125, 0.5);

// Fuentes
$fuente-principal: "Lora", serif;